<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <tbody id="table-tbody">
      <tr class="parentTr h-[50px]" id="1711811248487">
        <td class="border border-slate-300"><span>gfnfggfn</span></td>
        <td class="border border-slate-300 w-1 h-2">
          <span
            class="p-[7px] px-3 rounded-2xl font-bold text-[13px] bg-[#ffbe00]"
            >Medium</span
          >
        </td>
        <td class="border border-slate-300">
          <span
            class="p-[7px] px-3 rounded-2xl font-bold text-[13px] bg-[#f41b35] text-white"
            >Todo</span
          >
        </td>
        <td class="border border-slate-300">
          <span
            class="text-[13px] p-[7px] px-3 border-[#5faffe] rounded-2xl border-[1px]"
            >2024-07-22</span
          >
        </td>
        <td
          class="flex items-center justify-center border border-slate-300 flex-wrap gap-1 p-5"
        >
          <img
            class="bg-[#f41b35] w-5 h-4 rounded-[3px] px-[5px] py-[2px] cursor-pointer"
            src="./asset/image/icon-delete.png"
          /><img
            class="bg-[#0070fc] w-5 h-4 rounded-[3px] px-[5px] py-[2px] cursor-pointer"
            src="./asset/image/icon-edit.png"
          /><img
            class="bg-[#69757d] w-5 h-4 rounded-[3px] px-[5px] py-[2px] cursor-pointer"
            src="./asset/image/icon-eye.png"
          />
        </td>
      </tr>
    </tbody>
  </body>
</html>
