<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <tr id="1711547790673" class="p-4 text-center h-[20px]"> -->
      <!-- <td class="text-left border border-slate-300">sa</td> -->
      <!-- <td class="border border-slate-300"> -->
        <!-- <span class="px-3 py-1 rounded-2xl bg-red-500">Low</span> -->
      <!-- </td> -->
      <!-- <td class="border border-slate-300">
        <span class="px-3 py-1 rounded-2xl bg-red-500">ToDo</span> -->
      <!-- </td> -->
      <!-- <td class="border border-slate-300">
        <span class="border rounded-2xl px-2 py-1 border-blue-500"
          >2024-03-04</span
        >
      </td> -->
      <td class="flex gap-3 justify-center p-5 border border-slate-300">
        <img
          src="./assets/svg/trash-solid.svg"
          class="w-6 cursor-pointer bg-red-500 rounded"
          id="1711547790673"
        />
        <img
          src="./assets/svg/edit-solid.svg"
          class="w-6 cursor-pointer bg-blue-500 rounded"
          id="1711547790673"
        />
        <img
          src="./assets/svg/eye-solid.svg"
          class="w-6 cursor-pointer bg-gray-500 rounded"
        />
      </td>
    </tr>
    ;
  </body>
</html>
